		h1  {
			color:#00A9BE;
			font-family:Palatino;
			font-size:300%;
			text-align:center;
			background-color:#lightblue;
			padding-left:60px;
			padding-right:60px;
			text-decoration:underline;
		}

		hr {
		 border-top: 5px dotted white;

		
		}
		h2 {
			font-family:"Avenir";
			margin: 0;
			text-align: center;
			color:#00A9BE;
		}
		p {
			font-family:"Avenir";
			text-align: center;	
			color:#4169E1;

		}
		body {
			background-color: lightblue;
			position: center;
			text-align: center;
		}	

		img{
			position: center;
			padding:1px;
   			border:10px solid white;
		}

		.itinerary{
			text-align: left;
			color:#005C76;
			font-family:"Avenir";
		}

		.itineraryimg {
  		border-radius: 50%;
  		position: center;
}

		
